
<div class="row">
<% @nowshowing.each do |nowshowing| %>

		<div class="large-4 columns">
				<%= link_to (image_tag nowshowing.nowshowingcover.url(:large), :class => "round"), nowshowing %>
				<h5><%= nowshowing.title %></h5>
				<p><%= nowshowing.category %></p>
				<p>Price : <%= number_to_currency nowshowing.price %></p>
				<p><%= nowshowing.synopsis %></p>
				<p><%= link_to "Show", nowshowing %> |

						<% if admin_signed_in? %>

						<%= link_to "Edit", edit_nowshowing_path(nowshowing) %> |
						<%= link_to "Destroy", nowshowing, :confirm => "Are you sure?", :method => :delete %>
						<% end %></p>
		</div>


<% end %>
</div>
