

<div class="row">
	<div class="large-12 columns">
		<p><%= link_to "Back", cinemas_path %><p>
	</div>
</div>


<%= form_for ([@cinema, @nowshowing]), :html => {:multipart => true} do |f|%>
<%= render 'shared/nowshowing_error_messages' %>
	<div class="row">
		<div class="center">
			<fieldset class="round">
				<legend>New Movie Post</legend>

				<%= f.label :title %> <br />
				<%= f.text_field :title %>

				<%= f.label :synopsis %> <br />
				<%= f.text_area :synopsis %>

				<%= f.label :category %> <br />
				<%= f.select :category, options_for_select(%w[Animation Comedy Drama Fantasy Horror Sci-fi Thriller]) %>

				<%= f.label :youtube_stub %>
				<%= f.text_field :youtubestub %>

				<%= f.label :price %>
				<%= f.text_field :price %>

				<%= f.hidden_field :cinema_id %>

				<div class="row">
					<fieldset class="panel">
						<legend><%= f.label :screening_time %></legend>

						<div class="large-3 columns">
							<%= f.time_select :screening_time,
								:combined => true,
								:default => Time.now.change(:hour => 11, :min => 30),
								:minute_interval => 15,
								:time_separator =>" ",
								:start_hour => 6,
								:start_minute => 30,
								:end_hour => 23,
								:end_minute => 30
							%>
						</div>

					</fieldset>

				</div>

				<%= f.label :nowshowingcover %> <br />
				<%= f.file_field:nowshowingcover %>

				<%= f.label :remote_nowshowingcover_url, " or image URL" %>
				<%= f.text_field :remote_nowshowingcover_url %> <br />

				<%= f.submit "Submit", :class => "small button radius" %>
			</fieldset>
			</div>
		</div>

<% end %>

<div class="row">
	<div class="large-12 columns">
		<p><%= link_to "Back", cinemas_path %><p>
	</div>
</div>
