<div class="row">
	<div class="large-12 columns">
		<p><%= link_to "Back", cinema_nowshowings_path(@cinema) %><p>
	</div>
</div>

<div class="row">
	<div class="large-12 columns">
			<%= image_tag @nowshowing.nowshowingcover.url(:large), :class => "round center" %> <br />
			<h5><%= @nowshowing.title %></h5>
			<p><%= @nowshowing.category %></p>
			<p><%= @nowshowing.synopsis %></p>
			<p><%= @nowshowing.price %></p>
			<p><%= @nowshowing.created_at %></p>
			<p>
				<%= link_to "Watch Trailer", "#" %>
			</p>
	</div>

</div>

<div class="row">
	<div class="large-12 columns">
		<p><%= link_to "Back", cinema_nowshowings_path(@cinema) %><p>
	</div>
</div>
