<p id="notice"><%= notice %></p>

<p>
  <strong>Comingsoon:</strong>
  <%= @forumcomingsoon.comingsoon_id %>
</p>

<p>
  <strong>Body:</strong>
  <%= @forumcomingsoon.body %>
</p>

<%= link_to 'Edit', edit_forumcomingsoon_path(@forumcomingsoon) %> |
<%= link_to 'Back', forumcomingsoons_path %>
