
<div class="row">
<% @comingsoons.each do |comingsoon| %>

		<div class="large-4 columns">
				<%= link_to (image_tag comingsoon.comingsooncover.url(:large), :class => "round"), comingsoon %>
				<h5><%= comingsoon.title %></h5>
				<p><%= comingsoon.category %></p>
				<p><%= comingsoon.synopsis %></p>
				<% @cinema = Cinema.all%>
				<% @cinema.each do |cinema| %>
				<p>Cinemas Showing : <i>The Movies are to be listed here</i></p>
				<% end %>
				<p><%= link_to "Show", comingsoon %> |

						<% if admin_signed_in? %>

						<%= link_to "Edit", edit_comingsoon_path(comingsoon) %> |
						<%= link_to "Destroy", comingsoon, :confirm => "Are you sure?", :method => :delete %>
						<% end %></p>
			</div>

<% end %>
</div>
