<div class="row">
	<div class="large-12 columns">
		<p><%= link_to "Back", cinemas_path %><p>
	</div>
</div>


<%= form_for @cinema, :html => {:multipart => true} do |f|%>
<%= render 'shared/cinema_error_messages' %>
<div class="row">
	<div class="center">
		<fieldset class="round">
			<legend>New Cinema</legend>

			<%= f.label :name %><br />
				<%= f.text_field :name %><br />

				<%= f.label :email %>
				<%= f.text_field :email %>

				<%= f.label :description %>
				<%= f.text_area :description %>

				<%= f.file_field :cinemalogo %>

				<%= f.label :remote_cinemalogo_url, " or image URL" %>
				<%= f.text_field :remote_cinemalogo_url %> <br />

				<%= f.submit "Submit", :class => "small button radius" %>

		</fieldset>
	</div>
</div>

<% end %>

<div class="row">
	<div class="large-12 columns">
		<p><%= link_to "Back", cinemas_path %><p>
	</div>
</div>
